/*******************************************************/
/* sticky footer + one line for persistent top-nav-bar */
html, body {
    height: 100%;                       /* sticky footer */
}
.content {
    flex: 1 0 auto;                     /* sticky footer */
}
body {
    display: flex;                      /* sticky footer */
    flex-direction: column;             /* sticky footer */

    padding-top: 80px!important;        /* push text/body below top-nav-bar */
}
.footer {
    flex-shrink: 0;                     /* sticky footer */
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
/* end sticky footer code */
/* sticky footer from https://css-tricks.com/couple-takes-sticky-footer/  --  Thank you !! */
/*******************************************************************************************/

