<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs/110638206/original/d2baa7c81eb1d2fd7243c886257823d2717d055c/draw-cute-cartoon-penguin-for-you.png" width="50" height="30" class="d-inline-block align-top" alt="">
        JBC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add">Add a Review</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active" href="/list">Review List</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" style="color: #63737d; margin-top: 10px">
    <div class="jumbotron">
        <h1 style="color: #4b8f95">All Submissions</h1>
        <br />
        <table>
            <tr>
                <th>Submission</th>
            </tr>
            <tr th:each="rev : ${reviews}">
<div th:each="user: ${users}">
                <td style="text-align: center" th:text="${rev.review_id}"></td>
                <td style="text-align: center" th:text="${rev.q1}"></td>
                <td style="text-align: center" th:text="${rev.q2}"></td>
                <td style="text-align: center" th:text="${rev.q3}"></td>
                <td style="text-align: center" th:text="${rev.username}"></td>
</div>
                <td>
                    <a th:href="@{/update/{review_id}(review_id=${rev.review_id})}">Update</a>
                    <a th:href="@{/detail/{review_id}(review_id=${rev.review_id})}">Detail</a>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <a href="/add" class="btn btn-info" role="button">Add a new Review</a>
    </div>
</div>



</body>
</html>